{% extends 'base.html' %}

{% block content %}      
<p class="ms-3 fs-2 text-center text-primary">농약정보</p>
  <div class="container table-responsive">
    <table class="ms-3 table table-bordered table-sm table-condensed">
      <thead class="table-dark">
        <tr> <th>제품명</th> <th>주성분</th> <th>작용기작</th> <th>병충해</th> </tr>
      </thead>
      <tbody>
        <tr> <td>왕중왕</td> <td>아바멕틴_피리플루퀴나존</td> <td>6+9b</td> <td>진딧물_귤굴나방</td> </tr>
        <tr> <td>슈퍼펀치</td> <td>아바멕틴_설폭사플로르</td> <td>6+4c</td> <td>진딧물_귤굴나방</td> </tr>
        <tr> <td>완타치</td> <td>아바멕틴_플로니카미드</td> <td>6+29</td> <td>진딧물_귤굴나방</td> </tr>
        <tr> <td>미네토스타</td> <td>사이안트라닐리프롤_피메트로진</td> <td>28+9b</td ><td>진딧물_귤굴나방</td> </tr>
        <tr> <td>프레바톤</td> <td>클로란트라닐리프롤</td> <td></td> <td>진딧물_귤굴나방</td> </tr>
        <tr> <td>살무사</td> <td>아세타미프리드_에마멕틴벤조에이트</td> <td>4a+6</td> <td>진딧물_귤굴나방</td> </tr>
        <tr> <td>인도플로</td> <td>플로니카미드_인독사카브</td> <td>29+22a</td> <td>진딧물_귤굴나방</td> </tr>
        <tr> <td>매니아</td> <td>클로란트라닐리프롤_플로니카미드</td> <td>28+29</td> <td>진딧물_귤굴나방</td> </tr>
        <tr> <td>탄제로</td> <td>카벤다짐_크레속심메틸</td> <td>나1+다3</td> <td>잿빛곰팡이병</td> </tr>
        <tr> <td>델란</td> <td>디티아논</td> <td>카</td> <td>잿빛곰팡이병</td> </tr>
        <tr> <td>델리게이트</td> <td>스피네토람</td> <td>5</td> <td>총채벌레</td> </tr>
        <tr> <td>킹팜골드</td> <td>에마멕틴벤조에이트</td> <td>6</td> <td>총채벌레</td> </tr>
        <tr> <td>천하평정</td> <td>아세타미프리드_디플루벤주론</td> <td>4a+15</td> <td>진딧물_귤굴나방</td> </tr>
      </tbody>
    </table>
  </div>
<br>
<p class="ms-3 fs-2 text-center text-primary"><a href="https://new.koreacpa.org/ko" target="_blank">한국작물보호협회</a></p>
{% endblock %}    